.x-optional {
	color:#0026FF;
}


.geoextux-wfstfeatureediting-featuregrid .x-grid3-dirty-cell,
.geoextux-wfstfeatureediting-featuregrid .x-grid-dirty-cell
 {
     background-image:none;
}
 
.geoextux-wfstfeatureediting-button-draw {
    background-image:url(../img/editing/icon_add_redline.png) !important;
}
 
.geoextux-wfstfeatureediting-button-edit {
    background-image:url(../img/editing/icon_active.gif) !important;
}
 
.geoextux-wfstfeatureediting-button-filter {
    background-image:url(../img/editing/icon_roi_feature.png) !important;
}
 
.save {
    background-image:url(../img/editing/icon_save.png) !important;
}
 
.cancel {
    background-image:url(../img/editing/icon_undo.png) !important;
}
 
.delete {
    background-image:url(../img/editing/icon_delete.png) !important;
}
 
.x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
    padding-left: 22px;
    height: 18px;
}


/* css override rules, to support use of th in grids */

.x-grid3-hd-row th {
    font: 11px/15px arial,tahoma,helvetica,sans-serif;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #D0D0D0;
    line-height: 15px;
    vertical-align: middle;
}
.x-grid3-hd-row th, .x-grid3-row th, .x-grid3-summary-row th {
    -moz-user-focus: normal;
    outline: medium none;
}

.layer-editor-required-field > div:after {
	padding-left:4px;
	content:"*";
	color:red;
}

.layer-editor-required-field {
	color: red;
}

.x-grid3-row td.layer-editor-readonly-field {
	color: gray;
	font-style:italic;
}

div.olLayerGoogleCopyright,
div.olLayerGooglePoweredBy,
{
  display: none
}

.numberField {
  margin-top:0px !important;
}
